<app-wait-icon *ngIf="loading"></app-wait-icon>
<div class="container-fluid" id="cabecalho">
  <div class="row mt-3">
    <div class="col-12 text-center">
      <h3>Ficha do Paciente</h3>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('infoBasica')"
        >Informações Básicas</span
      >
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('diagnosticoClinico')"
        >Diagnóstico Clínico</span
      >
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('queixaPrincipal')">Queixa</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('hmphma')">HMP/HMA</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('medicacoes')">Medicações</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('exCompl')">Exames Compl</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('exFisico')">Exame Físico</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('condutaClinica')"
        >Conduta Clínica</span
      >
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('diagnostico')">Diagnóstico</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('evolucaoClinica')"
        >Evolução Clinica</span
      >
    </li>
    <li class="nav-item">
      <span class="nav-link" (click)="scroll('midias')">Mídias</span>
    </li>
  </ul>
</div>

<div class="container">
  <!-- informacoes basicas da ficha-->
  <section id="infoBasica">
    <h4>Informações Básicas</h4>
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <label class="mt-1" for="txtNome">Nome do Paciente</label>
            <input
              type="text"
              class="form-control"
              id="txtNome"
              [(ngModel)]="ficha.nomePaciente"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="txtSexo">Sexo</label>
            <select id="txtSexo" class="form-control" [(ngModel)]="ficha.sexo">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
              <option value="X">Prefiro Não Informar</option>
            </select>
          </div>
          <div class="col-4">
            <label for="txtDataNasc">Data Nascimento</label>
            <input
              type="date"
              id="txtDataNasc"
              class="form-control"
              [(ngModel)]="ficha.dataNascimento"
            />
          </div>
          <div class="col-4">
            <label class="mt-1" for="txtCep">CEP</label>
            <input
              type="text"
              id="txtCep"
              class="form-control"
              (keyup.enter)="buscarCep()"
              [(ngModel)]="ficha.cep"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="txtEndereco">Endereço</label>
            <input
              type="text"
              id="txtEndereco"
              class="form-control"
              [(ngModel)]="ficha.endereco"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label for="txtNumCompl">Numero/Compl</label>
            <input
              type="text"
              id="txtNumCompl"
              class="form-control"
              [(ngModel)]="ficha.numeroComplemento"
            />
          </div>
          <div class="col-6">
            <label for="txtCidade">Cidade</label>
            <input
              type="text"
              id="txtCidade"
              class="form-control"
              [(ngModel)]="ficha.cidade"
            />
          </div>
          <div class="col-2">
            <label for="txtUF">UF</label>
            <input
              type="text"
              id="txtUF"
              class="form-control"
              [(ngModel)]="ficha.estado"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="txtOcupacao">Ocupação</label>
            <input
              type="text"
              id="txtOcupacao"
              class="form-control"
              [(ngModel)]="ficha.ocupacao"
            />
          </div>
        </div>
      </div>
      <div class="col-4 text-center">
        <img id="foto" [src]="ficha.linkFoto" width="100%" />
        <button class="btn btn-success" (click)="chamarUpload('profile')">
          Enviar foto
        </button>
      </div>
    </div>
  </section>

  <section id="diagnosticoClinico">
    <h4>Diagnóstico Clínico</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtDiagnosticoClinico"
          >Descreva o Diagnóstico Clínico</label
        >
        <textarea
          class="form-control"
          id="txtDiagnosticoClinico"
          [(ngModel)]="ficha.diagnosticoClinico"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="queixaPrincipal">
    <h4>Queixa Principal</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtQueixaPrincipal">Descreva a Queixa Principal</label>
        <textarea
          class="form-control"
          id="txtQueixaPrincipal"
          [(ngModel)]="ficha.queixaPrincipal"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="hmphma">
    <h4>HMP/HMA</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtHmpHma">Descreva o HMP/HMA</label>
        <textarea
          class="form-control"
          id="txtHmpHma"
          [(ngModel)]="ficha.hmpHma"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="medicacoes">
    <h4>Medicações</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtMedicacoes">Informe as Medicações</label>
        <textarea
          class="form-control"
          id="txtMedicacoes"
          [(ngModel)]="ficha.medicacoes"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="exCompl">
    <h4>Exames Complementares</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtExamesComplementares"
          >Informe os Exames Complementares</label
        >
        <textarea
          class="form-control"
          id="txtExamesComplementares"
          [(ngModel)]="ficha.examesComplementares"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="exFisico">
    <h4>Exame Físico</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtExameFisico">Descreva os Exames Físicos</label>
        <textarea
          class="form-control"
          id="txtExameFisico"
          [(ngModel)]="ficha.exameFisico"
        ></textarea>
      </div>
    </div>
  </section>
  <section id="condutaClinica">
    <h4>Conduta Clínica</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtCondutaClinica">Descreva a Conduta Clínica</label>
        <textarea
          class="form-control"
          id="txtCondutaClinica"
          [(ngModel)]="ficha.condutaClinica"
        ></textarea>
      </div>
    </div>
  </section>
  <section id="diagnostico">
    <h4>Diagnóstico</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtDiagnostico">Informe o Diagnostico</label>
        <textarea
          class="form-control"
          id="txtDiagnostico"
          [(ngModel)]="ficha.diagnostico"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="evolucaoClinica">
    <h4>Evolução Clínica</h4>
    <div class="row">
      <div class="col-12">
        <label for="txtEvClinica">Informe a Evolução Clínica</label>
        <textarea
          class="form-control"
          id="txtEvClinica"
          [(ngModel)]="ficha.evolucaoClinica"
        ></textarea>
      </div>
    </div>
  </section>

  <section id="midias">
    <h4>Mídias Disponíveis</h4>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-success" (click)="chamarUpload('midia')">
          Adicionar Foto/Video
        </button>
      </div>
    </div>
    <div class="row mt-3" *ngFor="let ITEM of ficha.midias">
      <div class="col-12">
        <a class="midia" href="{{ ITEM.linkMidia }}" target="_blank">
          <i class="fa-solid fa-photo-film"></i> {{ ITEM.descricao }}</a
        >
      </div>
    </div>
  </section>
</div>

<div id="rodape">
  <button id="salvar" class="btn btn-success" (click)="salvarFicha()">
    <i class="fa-regular fa-2x fa-floppy-disk"></i>
  </button>
  <button id="voltar" class="btn btn-success" (click)="voltar()">
    <i class="fa-solid fa-2x fa-circle-chevron-left"></i>
  </button>
</div>

<!-- MODAL para Mensagens -->
<button
  type="button"
  style="visibility: hidden"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalAlerta"
  id="btnModalAlerta"
>
  Launch demo modal
</button>

<div
  class="modal fade"
  id="modalAlerta"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mensagem</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ msgModal }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL para Uploads -->
<button
  type="button"
  style="visibility: hidden"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalUpload"
  id="btnModalUpload"
>
  Launch demo modal
</button>

<div
  class="modal fade"
  id="modalUpload"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Selecione a Foto do Paciente
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="file"
          id="fileName"
          class="form-control"
          (change)="realizarUpload($event)"
        />
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Upload</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL para Upload de Midias -->
<button
  type="button"
  style="visibility: hidden"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#modalUploadMidia"
  id="btnModalUploadMidia"
>
  Launch demo modal
</button>

<div
  class="modal fade"
  id="modalUploadMidia"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Upload de Midias (Fotos/Videos)
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <label for="txtDescricaoMidia">Descrição</label>
        <input
          type="text"
          class="form-control"
          id="txtDescricaoMidia"
          [(ngModel)]="midiaDesc"
        />
        <input
          type="file"
          id="fileName"
          class="form-control mt-1"
          (change)="realizarUpload($event)"
        />
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-success" data-bs-dismiss="modal">Upload</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
