<app-wait-icon *ngIf="loading"></app-wait-icon>
<div class="container mt-3">
  <div class="row">
    <div class="col-12 text-center">
      <h3>Gerenciamento das Fichas de Pacientes</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label for="keyword">Digite o Paciente a ser Pesquisado</label>
      <div class="input-group">
        <input
          type="text"
          id="keyword"
          class="form-control"
          [(ngModel)]="keyword"
        />
        <span class="input-group-text">
          <button class="btn btn-success" (click)="pesquisar()">
            Pesquisar
          </button>
        </span>
      </div>
    </div>
  </div>
  <hr />
  <div class="row" *ngFor="let ITEM of lista">
    <div class="col-12 linha">
      <a class="paciente" [routerLink]="['/ficha', ITEM.idFicha]"
        >{{ ITEM.nomePaciente }}
      </a>
    </div>
  </div>
</div>

<a [routerLink]="['/ficha', 'NOVA']"
  ><button id="adicionar"><i class="fa-solid fa-2x fa-user-plus"></i></button
></a>

<button id="logout" class="btn btn-success" (click)="logout()">
  <i class="fa-solid fa-person-walking-arrow-right"></i> Logout
</button>

<!-- modal das mensagens -->
<!-- Button trigger modal -->
<button
  type="button"
  id="btnModal"
  style="visibility: hidden"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Mensagem</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ msgErro }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
